body{
    background-color: #000;
    margin: 0;
    padding: 1rem;
    font-family: "Spicy Rice", serif;
    font-weight: bold;
}

.cabecalho h1{
    color: white;
}


.cabecalho h1 span{
color: #58057e;
}

.lista-navegacao a{
    color:#58057ec5 ;
}

.lista-navegacao a:hover{
    color: #7e0ea2;
}

section .formulario{
    padding: 80px 4%;
    height: 90vh;
    }
    
    .formulario h1{
        color:#7e0ea2 ;
        text-align: center;
        font-size: 45px;
    }
    
    form{
        max-width: 5000px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        margin-top: 40px;
    }
    
    form input, form textarea{
        width: 100%;
        background-color: #3b3939ad;
        border: 0;
        outline: 0;
        padding: 20px 330px;
        border-radius: 20px;
        color: #fff;
        font-size: 18px;
    }
    
    form textarea{
        resize: none;
        height: 200px;
    
    }
    
    form .btn-enviar{
        margin-top: 20px;
        text-align: center;
    }
    
    form .btn-enviar input{
        width: 120px;
        background-color: #5c1275;
        color: #ffffff;
        cursor: pointer;
        border-radius: 20px;
        font-weight: 600;
    }
    
    form .btn-enviar input:hover{
        box-shadow: 1px 1px 5px 4px #8107a9;
    }


    @media (max-width: 1000px) {
            
            form{
                max-width: 5000px;
                margin: 0 auto;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 10px;
                margin-top: 4px;
            }
            
            form input, form textarea{
                width: 100%;
                background-color: #3b3939ad;
                border: 0;
                outline: 0;
                padding: 20px 130px;
                border-radius: 20px;
                color: #fff;
                font-size: 18px;
            }
            
            form textarea{
                resize: none;
                height: 150px;
            
            }
            
            footer h1{
                bottom: 0;
                position: absolute;
                right: 0;
                left: 0;
                padding: 9px;
            }

            footer h1 span{
                color: #7e0ea2;
            }

            .btn-abrir-menu i{
                color: #58057e;
            }
            .btn-abrir-menu i:hover{
                color: #c004ff;
            }
            .btn-abrir-menu i{
                color: #58057e;
            }


            .menu-mobile a{
                color: #58057e;
            }

            .menu-mobile i{
                color: #58057e;
            }
            .menu-mobile a:hover{
                color: #c004ff;
            }

            .menu-mobile i:hover{
                color: #c004ff;
            }














    }