body{
    background-color: #000;
    margin: 0;
    padding: 1rem;
    font-family: "Spicy Rice", serif;
    font-weight: bold;
}

.cabecalho h1{
    color: white;
}


.cabecalho h1 span{
color: #58057e;
}

.lista-navegacao a{
    color:#58057ec5 ;
}

.lista-navegacao a:hover{
    color: #7e0ea2;
}


.form-container {
    background:rgb(42, 41, 41) ;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    height: 400px;
}
.form-container input {
    width: 100%;
    background-color: transparent;
    margin-bottom: 15px;
    padding: 20px;
    color: #fff;
    border: 1px solid rgb(119, 116, 116);
    border-radius: 4px;
    font-size: 16px;
    resize: none;
    outline: 0;
}

.form-container textarea{
    width: 100%;
    background-color: transparent;
    margin-bottom: 15px;
    padding: 55px;
    text-align: center;
    color: #fff;
    border: 1px solid rgb(119, 116, 116);
    border-radius: 4px;
    font-size: 16px;
    resize: none;
    outline: 0;
}

.form-container button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #58057ec5;
    color: #FFF;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
.btn-enviar input:hover {
    background-color: #58057ee4;
}

.texto h2{
    text-align: center;
    padding: 15px;
    font-size: 2.5rem;
    color: #7e0ea2;
}

    @media (max-width: 1000px) {
            
            
            footer h1{
                bottom: 0;
                position: absolute;
                right: 0;
                left: 0;
                padding: 9px;
            }

            footer h1 span{
                color: #7e0ea2;
            }

            .btn-abrir-menu i{
                color: #58057e;
            }
            .btn-abrir-menu i:hover{
                color: #c004ff;
            }
            .btn-abrir-menu i{
                color: #58057e;
            }


            .menu-mobile a{
                color: #58057e;
            }

            .menu-mobile i{
                color: #58057e;
            }
            .menu-mobile a:hover{
                color: #c004ff;
            }

            .menu-mobile i:hover{
                color: #c004ff;
            }


            .form-container {
                max-width: 350px;
                height: 400px;
            }

    }