body{
    background-color:#191013;
    overflow: hidden;
}

.cabecalho h1 span{
    color: #fffedfd3;
}

.cabecalho i{
    padding: 200px;
}

.lista-navegacao a{
    color: #fffedfd3;
}

.lista-navegacao a:hover{
    color: #bfab93;
}

.habilidades{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
}

.card{
    height: 330px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.404);
    border-radius: 20px;
    padding: 20px;
    width: grid;
}

.card:hover{
    background-color: #bfab93d0;
    transition: 0.6s ease;
}

.card p{
    font-weight: 500;
    padding: 5px;
}

.card h2{
    font-weight: bold;
    padding: 5px;
}

.card i{
    font-size: 40px;
}

.card .devicon-html5-plain{
    color: #e34f26;
}
.card .devicon-css3-plain{
    color: #1572b6;
}
.card .devicon-javascript-plain{
    color: #f7df1e;
}
.card .devicon-react-original{
    color: #61dafb;
}

footer{
    text-align: center;
    align-items: center;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 30px;
}

footer h1{
    font-size: 1rem;
}

footer span{
color: #bfab93;
}

/* responsivo */

@media (max-width: 1000px){
    
    .btn-abrir-menu i{
        color: #fffedfd3;
        position: absolute;
        width: grid;
    }

    .btn-abrir-menu i:hover{
        color: #bfab93;
    }

    .menu-mobile a{
        color: #fffedfd3;
    }

    .menu-mobile a:hover{
        color: #bfab93;
    }

    .bnt-fechar i{
        color: #fffedfd3;
    }

    .bnt-fechar i:hover{
        color: #bfab93;
    }

    .habilidades{
        animation: anima 8s linear  alternate infinite;
        height: 50%;
        overflow: hidden;
    }

    .habilidades:hover{
        animation-play-state: paused;
    }

    .card{
        overflow: hidden;
    }

    @keyframes anima {
        0%{
            transform: translateX(0px);
        }
        100%{
            transform: translateX(-45%);
        }
    }

    footer{
        position: absolute;
        bottom: 0;
    }

}